footer{ /* Cris. Para crear footer de fondo negro */
	background-color: black;
	height: 55px;
	padding-top: 2%;
}

.fondoCity{ /* Cris. Para crear fondo con imagen de ciudad */
	background-image: url("../img/background/city.jpg");
	height: 400px;
	-webkit-filter: saturate(50%); /* Cris. Para cambio en la intensidad del color en la etiqueta <img> */
}

.fondoContacto{ /* Cris. Para crear fondo para seccion de contacto */
	background-image: url("../img/background/contactus.jpg");
	background-color: rgba(0, 0, 0, .9);
	height: 500px;
	}



.foto{ /* Cris. Para crear fotografía redonda con etiqueta <img> */
	height: 15%;
	width: 15%;
	border-radius: 100%;
}

.miInput{ /* Cris. Para crear boton de fondo blanco con etiqueta <a> */
	background-position: left center;
	background: rgba(255,255,255,.1); /* Cris. RBGA afecta sólo a la opacidad del elemento sobre el que 
	se aplica la propiedad, sin afectar a los elementos que se encuentren en su interior, al contrario de 
	opacity que si afecta a los elementos internos.*/
	width: 500px;
	height: 35px;
}

.forma{ /* Cris. Para crear boton de fondo blanco con etiqueta <a> */
	padding-left: 3%;
}
